html{height: 100%;}
body{
	margin: 0 auto;
	padding: 0;
	height: 100%;
	background-color: #D34168;
}
a{
	text-decoration: none;
	color : #C10B4E;
}
header{
	width: 100%;
	height:5%;
	background-color: #D81B60;
}
nav>ul{
	list-style: none;
	margin:0;
	padding-top: 0.5em;
}
nav>ul>li{
	display: inline;
	padding-left: 1.4em;
}
li>a{
	text-decoration: none;
	color:#fff;
}
li>a:hover{
	color:#880E4F;
}
section{
	width: 50%;
	margin:auto;
	padding-top: 5%;
}
section>p{
	color:#fff;
	font-size: 1.4em;
}

footer{
    position: relative;
    width: 100%;
    height: 5%;
    background-color: #D81B60;
    top: 23%;
}
footer>p{
	color:#fff;
	padding-top: 0.6em;	

}
.list {
	list-style: none;
	width : 30%;
	margin : auto;
}
.list li {
	margin : 0.5em 0;
	position : relative;
}
.list-btn {
	position : absolute;
	right: 0;
	border-radius: 5px;
	background-color: #755C5C;
	border-color: #AD7E7E;
}
.post {
	padding : 1em;
	border-color: #F1A8B9;
	border-radius: 5px;
	background-color: #9B1A29;
}
.post a {
	color : #fff;
}